.shop {
    position: relative;
    top: -630px;
    left: 50%;
    translate: -50%;
    background: url(../../../src/img/abstract.png) no-repeat center/100%;
    background-color: white;
    width: 90%;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 100px;
    box-shadow: 0px 0px 10px 0px rgba(74, 74, 255, 0.8);
    display: flex;
    justify-content: space-between;
    height: 550px;
}

.video-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    &_page {
        font-size: 20px;
        width: 30px;
        height: 30px;
        text-align: center;
        padding-top: 2px;
        align-items: center;
        border: 1px solid gray;
        border-radius: 4px;
        background: none;
        cursor: pointer;
        transition: 0.6s all;
        &:hover {
            background: red;
        }

    }
}

.footer_diskography {
    margin-top: -550px;
}

