.button1 {
    background: url(../img/button1.jpg) no-repeat 50%/cover;
    margin-top: 18px;
    clip-path: polygon(54% 0, 100% 0, 100% 25%, 100% 50%, 82% 100%, 50% 100%, 0 100%, 0 73%, 0 50%, 18% 0);
    width: 120px;
    height: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s all;
    font-size: 18px;
    
    &-center {
        margin: 0 auto;
    }
    &:hover {
        background: url(/src/img/button2.png) no-repeat 50%/cover;
    }
}

.tickets__button {
    margin-left: auto;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
    font-size: 18px;
    width: 170px;
    height: 100%;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s all;
    &:hover {
        background: #89A2FF;
    }
}
