.title {
    padding-top: 50px;
    display: flex;  
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 36px;
    color: white;
    &_black {
        color: black;
        justify-content: start;
    }
    &_white-left {
        justify-content: start;
    }
    img {
        width: 20px;
    }
}